<body>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {% for season in seasons %}
                    {% if season_results[season]|length > 0 %}
                        {% if loop.index == 1 %}
                            {% set act = "active" %}
                        {% else %}
                            {% set act = "" %}
                        {% endif %}
                <a class="nav-item nav-link {{ act }}" id="{{ season }}-tab" data-toggle="tab" href="#{{ season }}"
                   role="tab"
                   aria-controls="{{ season }}" aria-selected="false">{{ season }} ({{ season_pallplatser_grouped[season][0] }}/{{ season_pallplatser_grouped[season][1] }}/{{ season_pallplatser_grouped[season][2] }}) ({{ season_pallplatser[season][0][0]}}/{{ season_pallplatser[season][1][0] }})</a>
                     {% endif %}
                {% endfor %}
            </div>
        </nav>
        <div class="tab-content" id="TabContent">
            {% for season in seasons %}
                {% if season_results[season]|length > 0 %}
                    {% if loop.index == 1 %}
                        {% set act = "show in active" %}
                    {% else %}
                        {% set act = "" %}
                    {% endif %}
                <div class="tab-pane fade {{ act }}" id="{{ season }}" role="tabpanel" aria-labelledby="{{ season }}-tab">
                      <table class="table">
                        <thead class="thead-">
                          <tr>
                            <th>Tävling</th>
                            <th>Skytte</th>
                            <th>Distans</th>
                            <th>Tid</th>
                            <th>Resultat</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for result in season_results[season] %}
                          {% if result[5] == 0 %}
                            <tr>
                                <td>{{ result[0] }}</td>
                                <td>{{ result[1] }}</td>
                                <td>{{ result[2] }}</td>
                                <td>{{ result[3] }}</td>
                                <td>{{ result[4] }}</td>
                            </tr>
                          {% else %}
                            <tr bgcolor="lightgrey">
                                <td></td>
                                <td>{{ result[1] }}</td>
                                <td>{{ result[2] }}km</td>
                                <td>{{ result[3] }}</td>
                                <td>{{ result[4] }}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                        </tbody>
                      </table>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>